extends layout

block content
  h1=artist.fullName + ' | Works'
  ul
    each work in artist.works
      li 
        b #{work.title}
        ul
          li Copy number: #{work.copy}
          li Medium: #{work.medium}