extends layout

block content
  div(class='row')
    div(class='col')
      h1 Art Gallery
      p Choose an action
      ul
        li: a(href="/artist") See Artist information
        li: a(href="/customer") See Customer information
        li: a(href="/transactions") See transactions
    div(class='col')
      img(src="/images/totoro-painting.jpg", alt="", srcset="")